@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(:not(.dark), :not(.dark *) ));

.input {
  @apply border p-3 rounded-lg
  bg-slate-50 dark:bg-slate-700
  border-slate-300 dark:border-slate-600
  text-slate-800 dark:text-white
  outline-none focus:ring-2 focus:ring-blue-600 transition;
}
